body{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
}

.header {
    height: 45px;
}

#header {
    height: 100%;
}

.headerTitle {
    float: left;
    width: 500px;
    height: 60px;
}

.headerTitleLogo {
	float: left;
	width: 50px;
	height: 60px;
	margin-left: 7px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	color: #FFFFFF;
	text-align: center;
}

.headerTitleText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	margin-top: 10px;
	margin-bottom: 17px;
	margin-left: 7px;
	float: left;
}

.headerDataDefault{
	float: right;
	height: 60px;
	width: 300px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	margin-top: 0px;
	margin-right:0px;
}

.headerDateTime {
	text-align: right;
	height: 15px;
	width: 300px;
}

.headerLogout {
	text-align: right;
	height: 15px;
	width: 300px;
}

.headerUser {
	text-align: right;
	height: 15px;
	width: 300px;
	font-weight: bold;
	font-size: 10px;
}

.textLogout {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px !important;
	color: #ffffff !important;
	text-decoration: underline !important;
}

a.text:hover {
	text-decoration: underline;
}

a.buttomLink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

a.info {
    position:relative; 
    z-index:24;
    text-decoration:none;
}
a.info:hover {
	z-index:25;
}
a.info span {
	display: none;
}
a.info:hover span { 
	display:block;
	position:absolute;
	z-index:2;
	top:2em;
	left:2em;
	width:150px;
	border:1px solid #FF0000;
	background-color:#FFF4F0;
	color:#000000;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 5px;
}

#northContent{
	background-color:#ebf2f8;
	border-left:0px;
}
#menuBarContainer{
	width:99%;
}
h3{
	margin-top:30px;
}


.DHTMLSuite_paneContent .paneContentInner p{	/* A div inside .DHTMLSuite_paneContent. Add styling to it in case you want some padding */
	margin-top:0px;
}	
html,body{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}
#by_dhtmlgoodies{
	position:absolute;
	right:10px;
	top:2px;	
}
#by_dhtmlgoodies img{
	border:0px;
}

span.etiquetaBotonToolbar{
    position: relative;
    margin-bottom: 5px;
    top: -4px;
    left: 3px;
    font-weight: bold;
}

span.botonToolbar{
    color:#000000;
    text-align: center;
    font-size: 9px;
}
/***************************/
#formPanelTop{
	margin: 0px!important;
}
